body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(151, 151, 151);
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 140px;
  cursor: pointer;
  position: relative;
}

.root:hover .box1 {
  transform: rotate(90deg);
  transform-origin: top left;
}

.root:hover .box2 {
  transform: rotate(-90deg);
  transform-origin: top right;
}

.root:hover .box3 {
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.root:hover .box4 {
  transform: rotate(90deg);
  transform-origin: bottom right;
}

.box {
  height: 70px;
  width: 70px;
  flex: 1 1 50%;
  transition: 0.7s;
  position: relative;
  z-index: 2;
}

.box1 {
  background: red;
}

.box2 {
  background: yellow;
}

.box3 {
  background: green;
}

.box4 {
  background: blue;
}

.salutation {
  position: absolute;
}